# Python
__pycache__/
*.py[cod]
*.pyo

# Виртуальное окружение
venv/
.env/

# IDE
.vscode/
.idea/
*.sublime-workspace

# SQLite базы данных
db.sqlite3
*.sqlite3

# Миграции
migrations/

# Статические файлы
static/
media/

# Файлы настроек
*.env

# Лог-файлы
*.log

# Резервные файлы
*.bak
*.swp

# Другие временные файлы
*.pid
