{% extends 'base.html' %}

{% block content %}
  <h2>Мои отправленные предложения обмена</h2>

  {% if proposals %}
    <ul>
      {% for proposal in proposals %}
        <li>
          <p><strong>Вы предложили:</strong> "{{ proposal.offered_ad.title }}"</p>
          <p><strong>В обмен на:</strong> "{{ proposal.requested_ad.title }}"</p>
          <p><strong>Статус:</strong> {{ proposal.status }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Вы еще не отправляли предложения обмена.</p>
  {% endif %}
{% endblock %}
